:root {
      --base: #2D32DA;
      --spacing: 9px;
      --blur: 5px;
    }
    img {
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }
    .hl {
      color: var(--base);
    }
    /*
      misc styles, nothing to do with CSS variables
    */
    body {
      text-align: center;
      background: skyblue;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
    }
    .controls {
      margin-bottom: 50px;
    }
    input {
      width:100px;
    }

    #spacingOutput {
      position: absolute;
      left: 419px;
    }

    #blurOutput {
      position: absolute;
      left: 650px;   
    }

    output {
      align-self: center; 
      font-weight: bold;
      background-color: grey;
      color: black;
      border-radius: 20px;
    }

    hr {
      display: block;
      margin-top: 1.5em;
      margin-bottom: 1em;
    }
    
   

    

  