    html {
      background: skyblue;
      background-size:cover;
      font-family:'helvetica neue';
      text-align: center;
      font-size: 10px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display:flex;
      flex:1;
      min-height: 100vh;
      align-items: center;
    }

    .clock {
      width: 30rem;
      height: 30rem;
      border:20px ;
      border-radius:50%;
      margin:50px auto;
      position: relative;
      padding:2rem;      
    }

    #clockFace {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); 
    } 

    #canvas{
    	width=100%; 
    	height=100%; 
    	z-index: -950;
    	position: absolute;
    	top: -45px;
    	left: -50px;
    }     
    
    .hand {
      position: absolute;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 20%;
      border-top-right-radius: 20%;
      top:50%;
      height:6px;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.005s;            
    } 

    .hourHand {
      width:35%;      
      left: 15%;          
    } 

    .minutesHand {
      width:45%;      
      left: 5%; 
      z-index: 150;    
    } 

    .secondsHand {
      width:50%; 
      z-index: 250;          
    } 

    #time{
      position: absolute;
      top: 450px;
      left: 445px;
      font-size: 100px;
    } 

    .dot {
                           
    }     

