#status{
	text-align: center;
	font-size: 30px;
	font-stretch: 100%;
	max-width: 100px;
}

#logged{
	display: flex;
	flex: 1;
}

#loggedItems{
	padding-left: 10px;
	padding-right: 10px;
	background: #EDEEED;
	border-color:  solid black;
	border-width: 2px;
}

